
a:hover {
    text-decoration: none !important;
}

.logo {
    background: url(images/logo.png) no-repeat;
    width: 140px;
    height: 60px;
    cursor: pointer;
}

.nav-text {
    color: white !important;
    font-size: 1rem;
}

.social {
    font-size: 2rem;
}

.offer-image {
    padding-bottom: 20px;
    width: 100%;
}

.offer-1 {
    background-color: #ef7d00 !important;
    color: white !important;
}

.offer-2 {
    background-color: #00a297 !important;
    color: white !important;
}

.offer-3 {
    background-color: #051f5c !important;
    color: white !important;
}

.offer-4 {
    background-color: #e30613 !important;
    color: white !important;
}

.offer-5 {
    background-color: #702283 !important;
    color: white !important;
}

.offer-6 {
    background-color: #52ae32 !important;
    color: white !important;
}

.offer-7 {
    background-color: #5d686e !important;
    color: white !important;
}

.offer-8 {
    background-color: #0084d3 !important;
    color: white !important;
}

.offer-9 {
    background-color: #23376c !important;
    color: white !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}